.switch {
  appearance: none;
  border: 1px solid var(--color-fg);
  border-radius: 2em;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  position: relative;
  width: 3em;
}

.switch::after {
  content: '';
  background-color: var(--color-fg);
  border: 0;
  border-radius: 50%;
  height: 1.375em;
  position: absolute;
  width: 1.375em;
}

.switch:checked::after {
  transform: translateX(1.5em);
}
