.switch {
  appearance: none;
  border: 2px solid var(--color-fg);
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  position: relative;
  width: 48px;
  transition: all 0.25s ease-out;
}

.switch::after {
  content: '';
  background-color: var(--color-fg);
  border: 0;
  border-radius: 50%;
  height: 16px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 16px;
  transition: all 0.25s ease-out;
}

.switch:checked {
  border-color: var(--color-action);
}

.switch:checked::after {
  background-color: var(--color-action);
  transform: translateX(24px);
}
