@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.light {
  --color-bg: #f0f1f2;
  --color-text: #0c0c0d;
  --color-component: #0c0c0d;
  --color-primary: #0094d3;
}

.dark {
  --color-bg: #0c0c0d;
  --color-text: #f0f1f2;
  --color-component: #f0f1f2;
  --color-primary: #0094d3;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}
