.header {
  display: grid;
  grid-template-columns: 2em auto 2em;
  gap: 0.5em;
}

.closed,
.hidden {
  display: none;
}

.nav {
  background-color: var(--color-menu-bg);
  box-shadow: 4px 4px 8px #19191abf;
  height: 100%;
  max-width: 480px;
  width: calc(100% - 4em);
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
}

.nav ul {
  margin-top: 2em;
}

.open {
  display: block;
}
