.link {
  border-left: 4px solid transparent;
  margin: 1em 0.8em;
  padding: 0 0.5em;
  transition: all 0.25s ease-in-out;
}

.link:hover {
  border-left-color: var(--color-bg-hover);
}

.link:active {
  border-left-color: var(--color-action);
}

.link a {
  color: var(--color-fg);
  transition: all 0.25s ease-in-out;
}

.link:hover a {
  color: var(--color-fg-hover);
  text-decoration: none;
}

.link:active a {
  color: var(--color-action);
}
