.iconButton {
  align-items: center;
  background: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  transition: background-color 0.25s ease-in-out;
}

.iconButton:hover {
  background-color: var(--color-bg-hover);
}

.iconButton:active {
  background-color: var(--color-bg-active);
}
